body {
  display:block;
  background-color: snow;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: inline-block;
}

ul {
  display: inline-block;
  position: relative;
  float: right;
}

.left {
  float:left;
  padding-left: 10px;
  display: inline-block;
}

a:hover {
  color:orange;
  text-transform: uppercase;
  transform: rotateY(360deg);
  transition: transform 7s ease;
}

h1:hover {
  color:orange;
}

.container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .70;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bungee';
    color: white;
    background-color: black;
    padding: 30px;
}

.bound {
  text-align: center;
  background-color: white;
  width: 80%;
  border-radius: 25px;
  border: black dashed .2px;
}

header {
  position:fixed;
  width: 100%;
  border-bottom: black solid 2px;
  background-color: white;
  z-index: 100;
}

header nav li {
  list-style-type: none;
  float: right;
  padding: 10px;
  bottom: 0;
}

a[href="index.html"] {
  font-size: 2em;
  font-family: 'Bungee';
}

.hero-banner {
  width: 100%;
  height: 300px;
  padding-top:80px;
  background-image:  url(http://media.moddb.com/images/groups/1/3/2392/217448_10152465880460646_1107070142_n.jpg);
  background-attachment: fixed;
  font-size: 2.3em;
}

main section:nth-of-type(n+2) {
  margin: auto;
  margin-top: 10px;
}

.popular-posts h2 {
  margin: 30px;
  font-family: 'Bungee';
  font-size: 3em;
}

.popular-posts h3 {
  border-bottom: black solid .5px;
  font-weight: bolder;
}

.popular-posts article {
  display: inline-block;
  width: 30%;
  border: black solid .5px;
  border-radius: 25px;
  overflow: hidden;
  margin: 10px;
  height: 300px;
}

article p:nth-child(2) {
    height: 60%;
    overflow: scroll;
  }

a[href^="#post"] {
  border: black solid .5px;
  border-radius: 25px;
  padding: 10px;
}

article p:nth-child(3) {
  position: relative;
  bottom: 15px;
}

#join-club-content img {
  height: 200px;
  margin: 10px 30px;
  border-radius: 10px;
}

#join-club-text {
  max-width: 50%;
  margin: 0px auto;
}

#join-club-content {
  width: 90%;
  margin: auto;
}

.everybody-banner {
  background-image:  url(http://www.twoseriousladies.org/wp-content/uploads/2013/05/tumblr_md2rjnU0BK1qa3fbfo1_400.jpg);
  height: 250px;
}

footer {
  width: 100%;
}

.footer-text {
  margin: 5px;
  max-width: 60%;
  position: relative;
  left: 10%;
  font-size: 0.85em;
}

.footer-text h4 {
  float: left;
  margin: 0px auto;
  padding-right: 5px;
}

#disclaimer {
  margin: 0px auto;
}

footer ul {
  padding: 10px;
  max-width: 30%;
  margin: 0px auto;
  right: 20%;
}
