body {
  background-color: #FFFAFA;
}

a {
  text-decoration: none;
  color: midnightblue;
}

p {
  font-family: 'Poppins';
  font-weight: lighter;
  text-align: justify;
}

h2, h3, h4 {
  font-family: "Nunito";
  font-weight: bolder;
  color: midnightblue;
}

header a:visited {
  color: midnightblue;
}

header a:hover {
  color: #FFFAFA;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: salmon;
  z-index: 10;
  padding: .5em;
}

header h2 {
  display: inline-block;
  position: relative;
  width: 55%;
  margin: 1rem 2rem;
  font-family: 'Rubik', cursive;
  font-size: 2em;
  text-shadow: #FFFAFA 1px 0 1px;
}

header nav {
  display:inline-block;
  position: relative;
  width: 35%;
  margin-right: 0;
}

header ul {
  margin-right: 0;
  position: relative;
  text-align: right;
}

header li {
  display: inline;
  margin: 1em .5em;
  text-align: right;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
}

section#title {
  margin-top: 3.5em;
  height: 25em;
  background-image: url("../assets/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding-top: 10em;
}

#title h1 {
  position: relative;
  font-size: 7em;
  color: white;
  text-shadow: midnightblue 6px 3px;
  font-family: 'Rubik', cursive;
}

section#popular_posts {
  text-align: center;
  padding: 2em 4em;
  margin-top: 1em;
  overflow: hidden;
}

#popular_posts h2{
  font-size: 4em;
  margin: .5em;
  font-weight: 600;
}

article.post {
  display: inline-block;
  position: relative;
  left: 5em;
  width: 16em;
  height: 18em;
  float: left;
  margin: 1em;
  border: 4px solid midnightblue;
  border-radius: 5%;
  overflow: hidden;
}

.post h3 {
  background-color: #fcbdb6;
  border-bottom: 2px solid midnightblue;
  font-size: 1.5em;
  height: 2em;
  padding: .5em;
  margin-top: 0em;
  margin-bottom: .5em;
}

.post p {
  text-align: left;
  padding: .5em 1em;
  height: 5em;
  margin-bottom: 1em;
  overflow: hidden;
  text-overflow: "...";
}

.post p:nth-of-type(2) {
  display: inline-block;
  position: relative;
  top: .5em;
  width: 9em;
  height: 1em;
  border: 2px solid midnightblue;
  border-radius: 1em;
  text-align: center;
  padding: .5em;
  margin-bottom: .5em;
  background-color: salmon;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
}

section#join_club {
  border-bottom: 2px solid midnightblue;
  border-top: 2px solid midnightblue;
  padding: 2em;
  overflow: hidden;
  height: 16em;
}

#join_club h2 {
  display: inline-block;
  position: relative;
  float: left;
  top: -1em;
  left: 1em;
  width: 40%;
  margin: .5em;
  padding: .5em;
  text-align: center;
  font-size: 3em;
  font-family: 'Poppins';
}

#join_club p {
  display: inline-block;
  position: relative;
  float: left;
  top: 1em;
  left: -26em;
  width: 30%;
  padding: 2em;
}

#join_club img {
  display: inline-block;
  float: right;
  position: relative;
  top: -15em;
  right: 8em;
  height: 16em;
  width: 24em;
}

section#aristocat {
  background-image: url('../assets/everybody.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

#aristocat h2 {
  margin: 0;
  font-size: 6em;
  color: white;
  text-shadow: 1px 1px 2px midnightblue;
}

footer, p#disclaimer, #aristocat h2 {
  padding: 1em;
}

footer h4{
  display: inline;
  position: relative;
  top: 0;
  left: 6em;
  float: left;
  width: 3.7em;
  margin-bottom: 0;
  margin-right: 1.25em;
  font-size: .8em;
}

p#disclaimer {
  display: block;
  width: 32em;
  position: relative;
  top: -.7em;
  left: 5em;
  font-size: .8em;
}

footer ul {
  display: inline-block;
  position: relative;
  top: -7.8em;
  float: right;
  width: 45%;
}
